    <% layout('layouts/boilerplate')%> 
    <div class="row">
        <h1 class="text-center">Edit Attraction</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/attractions/<%= attraction._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="attraction[title]" value="<%= attraction.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="attraction[location]" value="<%= attraction.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="text" placeholder="0.000" id="price-label" name="attraction[price]" aria-describedby="price-label" value="<%= attraction.price %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="attraction[description]" required><%= attraction.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Upload Image(s)</label>
                    <div class="form-file custom-file">
                        <input class="form-control custom-file-input" type="file" name="image" id="image" multiple onchange="previewMultiple(event)">
                        <label for="image" class="form-label custom-file-label"></label>
                    </div>
                    <div id="formFile"></div>
                </div>
                <h5> Delete Images </h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% attraction.images.forEach((image, i) => { %>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="<%= image.thumbnail %>" alt="" crossorigin>
                                <div class="card-img-overlay text-end pt-1 pe-2">
                                    <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]" value="<%= image.filename %>"  id="image-<%= i %>">
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Attraction</button>
                </div>
            </form>
            <a href="/attractions/<%= attraction._id%>">Back To Attraction</a>
        </div>
    </div>